
.header{
    position: relative;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    background-color: rgba(217, 217, 217, 0.12);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .text{
    padding-right: 10px;
    padding-left: 10px;
    color: rgba(255, 255, 255, .37);
    font-size: 16px;
  }
  
  .on{
    color: rgba(255, 255, 255, 0.952)
  }
  
  
  a{
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.651);
    text-decoration: none;
  }
  a:hover{
    color: white;
  }
  